coloredlogs==15.0.1
contourpy==1.3.3
cycler==0.12.1
-e git+https://github.com/dash-21-bit/edge-ai-optimization@4b8e5c6207494f0bea2787f4c9c9dee561cba6f3#egg=edge_ai_optimization
filelock==3.20.2
flatbuffers==25.12.19
fonttools==4.61.1
fsspec==2025.12.0
humanfriendly==10.0
Jinja2==3.1.6
kiwisolver==1.4.9
MarkupSafe==3.0.3
matplotlib==3.10.8
ml_dtypes==0.5.4
mpmath==1.3.0
networkx==3.6.1
numpy==2.4.0
onnx==1.20.0
onnx-ir==0.1.13
onnxruntime==1.23.2
onnxruntime-tools==1.7.0
onnxscript==0.5.7
packaging==25.0
pandas==2.3.3
pillow==12.1.0
protobuf==6.33.2
psutil==7.2.1
py-cpuinfo==9.0.0
py3nvml==0.2.7
pyparsing==3.3.1
python-dateutil==2.9.0.post0
pytz==2025.2
setuptools==80.9.0
six==1.17.0
sympy==1.14.0
torch==2.9.1
torchaudio==2.9.1
torchvision==0.24.1
typing_extensions==4.15.0
tzdata==2025.3
xmltodict==1.0.2
